.main {
    background-image: url('/fone.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 15rem;
    }
}


@media screen and (max-width: 1000px) {
    .main {
        h1 {
            font-size: 12rem;
        }
    }
}



@media screen and (max-width: 768px) {
    .main {
        h1 {
            font-size: 10rem;
        }
    }
}

@media screen and (max-width: 640px) {
    .main {
        h1 {
            font-size: 8rem;
        }
    }
}